{
  auto_https off
}

:8080 {
  reverse_proxy ticketdash:3000 {
    header_up X-Forwarded-Proto https
    header_up Host {host}
  }
}

:9080 {
  reverse_proxy authentik_server:9000 {
    header_up X-Forwarded-Proto https
    header_up Host auth.milcoms.org
  }
}
