{
  auto_https off
}

:80 {
  handle /auth/* {
    reverse_proxy ticketdash:3000
  }

  handle /api/* {
    reverse_proxy ticketdash:3000
  }

  handle /socket.io/* {
    reverse_proxy ticketdash:3000
  }

  handle {
    reverse_proxy ticketdash:3000
  }
}

:9080 {
  reverse_proxy authentik_server:9000
}
